/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik mono one', sans-serif;
}

/*fine common*/

/* navigation */
nav{
    position: fixed;
    margin-top: 40px;
    margin-left: 87%;
    z-index: 1;
}

nav li{
    display: inline;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 14px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* fine navigation */

/* main */

#shoes-1,
#shoes-2,
#shoes-3{
    font-size: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#shoes-1{
    background-color: red;
    color: yellow;
}

#shoes-2{
    background-color: green;
    color: yellow;
}

#shoes-3{
    background-color: yellow;
    color: green;
}
/* fine main  */